/* RESET */
* { 
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    color: black; 
    /* font-family: Inter; */
    font-weight: 400;
    font-size: 62.5%;
    text-decoration: none;
} 

a:visited { 
    color: black;
    text-decoration: none; 
}
 
/* VARIABLES */

:root { 
    --text-primary-color: #7B542F; 
    --background-primary-color: #B6771D; 
    --secondary-color: #FFCF71;
    --shadow-color: #FF9d00; 
    --pad-s: 3.5px 6px; 
    --pad-m: 5px 8px;
    --pad-l: 10px 15px; 
    --n-pad-s: 3px 8px;
    --n-pad-m: 4px 12px;  
    --n-pad-l: 5px 28px;   
} 
 
/* UTILITIES */ 

/* part 1- text sizes*/
.text-s { 
    font-size: 1.4rem;
}
.text-m { 
    font-size: 1.8rem;
} 
.text-l { 
    font-size: 2.4rem;
}
.text-xl {
    font-size: 2.8rem; 
} 

/* part 2- font weights*/
.w-l { 
    font-weight: 200;
} 
.w-m { 
    font-weight: 400;
} 
.w-b { 
    font-weight: 700;
}

/*part 3- buttons*/
.btn-accent{ 
    background-color: var(--background-primary-color);
    border: 1.5px solid #1b1b1b;
    border-radius: 6px;
    font-size: 2rem;
    transition: 0.3s;
}
.btn-accent:hover{
    background-color: var(--shadow-color);
    border: 1.5px solid var(--shadow-color);
    border-radius: 6px;
    font-size: 2rem;
}
.btn-secondary{
    background-color: var(--secondary-color);
    border: 1.5px solid #1b1b1b;
    border-radius: 6px;
    font-size: 2rem;
    transition: 0.3s;
}
.btn-secondary:hover{
    background-color: var(--shadow-color);
    border: 1.5px solid var(--shadow-color);
    border-radius: 6px;
    font-size: 2rem;
}
.btn-outline--accent{
    color: var(--background-primary-color);
    border: 1.5px solid var(--background-primary-color);
    border-radius: 6px;
    font-size: 2rem;
    transition: 0.3s;
}
.btn-outline--accent:hover{
    color: var(--text-primary-color);
    border: 1.5px solid var(--text-primary-color);
    border-radius: 6px;
    font-size: 2rem;
}
.btn-outline--secondary{
    color: var(--secondary-color);
    border: 1.5px solid var(--secondary-color);
    border-radius: 6px;
    font-size: 2rem;
    transition: 0.3s;
}
.btn-outline--secondary:hover{
    color: var(--shadow-color);
    border: 1.5px solid var(--shadow-color);
    border-radius: 6px;
    font-size: 2rem;
}
.btn-sml { 
    padding: var(--pad-s);
}

.btn-mdm{
    padding: var(--pad-m);
}
.btn-lge{
    padding: var(--pad-l);
}
